.git/
progconfig/google-chrome/
progconfig/nvim/plugged
progconfig/pulse/
progconfig/neofetch/
progconfig/pavucontrol.ini
progconfig/spotify/*
progconfig/mpd/log
progconfig/mpd/state
scripts/tags
*.pyc
