progconfig/google-chrome/
progconfig/nvim/plugged
progconfig/pulse/
progconfig/neofetch/
progconfig/pavucontrol.ini
progconfig/spotify/*
progconfig/mpd/log
progconfig/mpd/state
progconfig/dconf/*
progconfig/gtk-2.0/*
progconfig/gcloud/*
progconfig/Trolltech.conf
progconfig/i3/.meta_ws
progconfig/zsh/.zcompdump
*/*tags
*.pyc
